<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <form method="POST" action="https://affhackathon-ocr.herokuapp.com/submit_doc" enctype=multipart/form-data>
        file : <input type="file" name="pfi"><br />
        <input type="submit" value="submit pfi"><br />
    </form>
    <br><br>
	
    <form method="POST" action="https://affhackathon-ocr.herokuapp.com/submit_doc" enctype=multipart/form-data>
        file : <input type="file" name="form_m"><br />
        <input type="submit" value="submit form_m"><br />
    </form>
    <br><br>

    <form method="POST" action="https://affhackathon-ocr.herokuapp.com/submit_doc" enctype=multipart/form-data>
        file : <input type="file" name="shipment_invoice"><br />
        <input type="submit" value="submit shipment_invoice"><br />
    </form>
    <br><br>

    <form method="POST" action="https://affhackathon-ocr.herokuapp.com/submit_doc" enctype=multipart/form-data>
        file : <input type="file" name="bol"><br />
        <input type="submit" value="submit"><br />
    </form>
    <br><br>

</body>
</html>
